:root {
    --cor0: #9ECDCF;
    --cor1: #FFD2A8;
    --cor2: #000000;
    --cor3: #FFFFFF;
}

#superior01 {display: none;}
#superior02 {display: none;}

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background: var(--cor2);
    height: 50px;
}

main {
    background-image: url(../celular/ft5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3500px;
}

.flex {
    display: flex;
    padding: 0 2%;
	margin: auto;
    flex-wrap: wrap;
}

.flex-header{
	display: flex;
    max-width: 960px;
	padding: 0 2%;
	margin: auto;
    flex-wrap: wrap;
}

i#burguer3 {
    background-color: var(--cor2);
    color: var(--cor3);
}

h1#titulo2 {
    background-color: var(--cor2);
    color: var(--cor3);
    font-family: sans-serif;
    font-size: 20px;
}

p#cor-mr2{
    display: inline-block;
    background: none;
    color: var(--cor0);
    margin-left: 0;
    margin-right: 1px;
    font-size: 20px;
    font-family: sans-serif;
}

img#logo2 {
    background-color: var(--cor2);
    height: 50px;
    width: 50px;
}

#itens3 {
    display: none;
    list-style-type: none;
}

#itens3 > ul > li > a {
    display: block;
    background-color: var(--cor2);
    color: var(--cor3);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid var(--cor3);
}

#esp3 {
    border-bottom: 2px solid var(--cor3);
}

#itens3 > ul > li > a:hover {
    color: var(--cor0);
}

#sec1 {
    height: 180px;
    color: var(--cor3);
}

#sec1 > h1 {
    font-size: 28px;
    position: relative;
    top: 60px;
}

#sec2 {
    width: 100%;
    text-align: justify;
    margin-top: 10%;
    margin-bottom: 0%;
    color: var(--cor3);
}

#sec2 > p {
    margin-top: 20px;
}

#sec {
    width: 70%;
    text-align: justify;
    padding-top: 0%;
    margin-bottom: 0%;
}

#sec > h2 {
    margin-bottom: 40px;
    color: #FFFFFF;
}

.art {
    margin-bottom: 35px;
}

.div-box {
    background-color: #9ECDCF;
    display: flex;
    height: 35px;
    width: 100%;
}

.art-t {
    width: 100%;
    padding-left: 2%;
    background-color: #9ECDCF;
    font-weight: bold;
    color: #ffffff;
}

.div-t {
    height: 50%;
    width: 250%;
    float: left;
    padding-left: 2%;
    background-color: #9ECDCF;
    font-weight: bold;
    color: #ffffff;
}

.asd {
    float: right;
    height: 35px; 
    width: 35px; 
    background-image: url(ftex.png); 
    background-size: cover; 
    background-color: #9ECDCF;
}

#arrow {
    background-color: #FFFFFF;
    width: 100%;
    display: none;
    list-style-type: none;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#arrow1 {
    background-color: #FFFFFF;
    width: 100%;
    display: none;
    list-style-type: none;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#arrow2 {
    background-color: #FFFFFF;
    width: 100%;
    display: none;
    list-style-type: none;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#arrow3 {
    background-color: #FFFFFF;
    width: 100%;
    display: none;
    list-style-type: none;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#arrow4 {
    background-color: #FFFFFF;
    width: 100%;
    display: none;
    list-style-type: none;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#arrow5 {
    background-color: #FFFFFF;
    width: 100%;
    display: none;
    list-style-type: none;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#sec3 {
    margin-top: 25%;
    height: 300px;
    width: 100%;
    text-align: justify;
    color: var(--cor3);
}

#sec3 > h2 {
    width: 280px;
}

table {
    width: 400px;
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

caption {
    font-size: 1.5em;
    border: 1px solid white;
    border-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    text-align: center;
    border: 1px solid white;
    padding: 8px;
}

#sec4 {
    margin-top: 20px;
    height: 200px;
    width: 100%;
    text-align: justify;
    color: var(--cor3);
}

#sec4 > h2{
    margin-bottom: 20px;

}

#sec4 > p {
    margin-bottom: 20px;

}

#sec4 > p > a {
    background-color: rgba(0, 0, 0, 0.616);
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid black;
}

#sec5 {
    margin-top: 0px;
    height: 200px;
    width: 100%;
    text-align: justify;
    color: var(--cor3);
}

#sec5 > h2{
    margin-bottom: 20px;
}

#sec5 > p{
    margin-bottom: 20px;
}

#maps {
    height: 400px;
    width: 100%;
    
}

iframe {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}

@media (max-width: 1190px) {

    main{
        height: 3800px;
    }

    #sec1 {
        height: 160px;
        color: rgb(43, 226, 119);
    }

    #sec2 {
        text-align: justify;
        margin-top: 20%;
        margin-bottom: 0%;
    }
}

@media (max-width: 1150px) {

    main{
        height: 3900px;
    }

    #sec1 {
        height: 160px;
        color: blueviolet;
    }

    #sec2 {
        text-align: justify;
        margin-top: 20%;
        margin-bottom: 0%;
    }

    #sec3 {
        margin-top: 85%;
    }
}

@media (max-width: 1000px) {
    #sec1 {
        height: 160px;
        color: aqua;
    }
    
    #sec2 {
        text-align: justify;
        margin-top: 25%;
        margin-bottom: 0%;
    }

    #sec3 {
        padding-top: 120px;
        margin-bottom: 200px;
    }

    main{
        height: 4000px;
    }
}

@media (max-width:850px) {
    #sec1 {
        height: 160px;
        color: chartreuse;
    }

    #sec2 {
        text-align: justify;
        margin-top: 35%;
        margin-bottom: 0%;
    }

    #sec3 {
        margin-top: 300px;
        margin-bottom: 150px;
    }

    main{
        height: 3800px;
    }

}

@media (max-width: 800px) {
    #sec1 {
        height: 180px;
        color: chocolate;
    }
 

    #sec2 {
        text-align: justify;
        margin-top: 30%;
        margin-bottom: 0%;
    }

    #sec3 {
        margin-top: 300px;
        margin-bottom: 150px;
    }

    main{
        height: 3850px;
    }
}

@media (max-width:650px) {
    #sec1 {
        height: 180px;
        color: darkblue;
    }

    #sec {
        width: 80%;
    }
    
    #sec2 {
        text-align: justify;
        margin-top: 30%;
        margin-bottom: 0%;
    }

    #sec3 {
        margin-top: 450px;
        margin-bottom: 150px;
    }

    main{
        height: 3800px;
    }

    iframe {
        margin-bottom: 100px;
    }
}

@media (max-width:550px) {
    #sec1 {
        height: 140px;
        color: rgb(0, 255, 255);
    }

    #sec {
        width: 80%;
    }
    
    #sec2 {
        text-align: justify;
        margin-top: 80%;
        margin-bottom: -25%;
    }

    #sec3 {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    main{
        height: 3500px;
    }

    iframe {
        margin-bottom: 100px;
    }

    #conteiner02 {
        margin-top: -25%;
        height: 815px;
    }
}

#conteiner02 {
    padding-top: 60px;
    height: 815px;
}

#box-02 {
    display: inline-block;
    text-align: center;
    background-color: var(--cor);
    margin: auto;
    height: 100%;
    width: 100%;
}

.catalogo {
    display: inline-block;
    
}

.paglinks {
    text-decoration: none;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 270px;
    width: 270px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 35px;
    position: relative;
    top: 20px;
    color: var(--cor3);
}

div.tpaginas {
    display: inline-block;
    background: none;
    color: var(--cor3);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 105%;
}

div#pg1 {
    background-image: url(img/ft2.jpg);
}

div#pg2 {
    background-image: url(img/ft3.jpg);
}

div#pg3 {
    background-image: url(img/ft4.jpg);
}

div#pg4 {
    background-image: url(img/ft5.jpg);
}

div#pg5 {
    background-image: url(img/ft6.jpg);
}

div#pg6{
    background-image: url(img/ft7.jpg);
}

@media (max-width:1300px) and (min-width:1001px){
    .paglinks {
        height: 250px;
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        top: 20px;
    }

    #conteiner02 {
        height: 715px;
    }
}

@media (max-width:1190px) and (min-width:1151px){
    .paglinks {
        height: 250px;
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        top: 20px;
    }

    #conteiner02 {
        height: 715px;
        margin-bottom: 70%;
    }
}

@media (max-width:1150px) and (min-width:851px){
    .paglinks {
        height: 250px;
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        top: 20px;
    }

    #conteiner02 {
        height: 715px;
    }
}

@media (max-width:850px) and (min-width:651px){
    .paglinks {
        height: 200px;
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        top: 20px;
    }

    #conteiner02 {
        height: 715px;
    }
}

@media (max-width:650px) and (min-width:551px){
    .paglinks {
        height: 190px;
        width: 190px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        position: relative;
        top: 25px;
    }

    #conteiner02 {
        height: 580px;
    }
}

@media (max-width:550px) {
    #box-01{
        max-width: 450px;
    }

    .paglinks {
        height: 160px;
        width: 160px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        top: 20px;
    }

    #conteiner02 {
        height: 765px;
    }
}

@media (max-width:500px) {
    #box-01{
        max-width: 450px;
    }

    .paglinks {
        height: 140px;
        width: 140px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        top: 20px;
    }

    div.tpaginas {
        display: inline-block;
        background: none;
        color: var(--cor3);
        font-size: 20px;
        font-weight: bold;
        position: relative;
        top: 105%;
    }

    #conteiner02 {
        height: 765px;
    }
}