:root {
    --cor0: #ff5100;
    --cor1: #FFD2A8;
    --cor2: #000000;
    --cor3: #FFFFFF;
}

#superior01 {display: none;}
#superior02 {display: none;}

* {
    background-color: var(--cor3);
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background: var(--cor2);
    height: 50px;
}

.flex {
    display: flex;
    padding: 0 2%;
	margin: auto;
    flex-wrap: wrap;
}

.flex-header{
	display: flex;
    max-width: 960px;
	padding: 0 2%;
	margin: auto;
    flex-wrap: wrap;
}

i#burguer3 {
    background-color: var(--cor2);
    color: var(--cor0);
}

h1#titulo2 {
    background-color: var(--cor2);
    color: var(--cor3);
    font-family: sans-serif;
    font-size: 20px;
}

p#cor-mr2{
    display: inline-block;
    background: none;
    color: var(--cor0);
    margin-left: 0;
    margin-right: 1px;
    font-size: 20px;
    font-family: sans-serif;
}

img#logo2 {
    background-color: var(--cor2);
    height: 30px;
    width: 30px;
}

#itens3 {
    display: none;
    list-style-type: none;
}

#itens3 > ul > li > a {
    display: block;
    background-color: var(--cor2);
    color: var(--cor3);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid var(--cor0);
}

#esp3 {
    border-bottom: 2px solid var(--cor0);
}

#itens3 > ul > li > a:hover {
    color: var(--cor0);
}

#sec1 {
    height: 180px;
}

#sec1 > h1 {
    font-size: 28px;
    position: relative;
    top: 40px;
}

#sec-text {
    width: 70%;
    text-align: justify;
    margin-top: 20%;
    margin-bottom: -5%;
}

#sec-text > h2 {
    margin-bottom: 20px;
}

.text-orange {
    padding: 10px 0;
    padding-left: 2%;
    margin: 20px 0;
    background-color: #ff5100;
    font-weight: bold;
    color: #ffffff; 
}

#sec2 {
    width: 70%;
    text-align: justify;
    margin-top: -20%;
    margin-bottom: 15%;
}

#sec2 > p {
    margin-top: 20px;
}

#sec3 {
    margin-top: -90px;
    height: 300px;
    width: 70%;
    text-align: justify;
}

#sec3 > h2 {
    width: 280px;
}

table {
    width: 400px;
    border-collapse: collapse;
}

caption {
    font-size: 1.5em;
    border: 1px solid black;
    border-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

#sec4 {
    margin-top: -60px;
    height: 200px;
    width: 70%;
    text-align: justify;
}

#sec4 > h2{
    margin-bottom: 20px;
}

#sec4 > p {
    margin-bottom: 20px;
}

#sec4 > p > a {
    background-color: rgba(0, 0, 0, 0.616);
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid black;
}

#sec5 {
    margin-top: 0px;
    height: 200px;
    width: 70%;
    text-align: justify;
}

#sec5 > h2{
    margin-bottom: 20px;
}

#sec5 > p{
    margin-bottom: 20px;
}

#maps {
    height: 400px;
    width: 70%;
    
}

iframe {
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
}

@media (max-width: 1150px) {
    #sec1 {
        height: 160px;
    }

    #sec-text {
        margin-top: 25%;
    }
    
    #sec1 > h1 {
        font-size: 28px;
        position: relative;
        top: 60px;
    }

    #sec2 {
        text-align: justify;
        margin-top: -18%;
        margin-bottom: 18%;
    }
}

@media (max-width: 1000px) {
    #sec1 {
        height: 160px;
    }

    #sec-text {
        margin-top: 28%;
    }
    
    #sec1 > h1 {
        font-size: 28px;
        position: relative;
        top: 60px;
    }

    #sec2 {
        text-align: justify;
        margin-top: -23%;
        margin-bottom: 20%
    }
}

@media (max-width:900px) {
    #sec1 {
        height: 160px;
    }

    #sec-text {
        margin-top: 30%;
    }
    
    #sec1 > h1 {
        font-size: 28px;
        position: relative;
        top: 60px;
    }

    #sec2 {
        text-align: justify;
        margin-top: -25%;
        margin-bottom: 23%
    }
}

@media (max-width: 750px) {
    #sec1 {
        height: 180px;
    }

    #sec-text {
        margin-top: 33%;
        margin-bottom: -20%;
    }
    
    #sec1 > h1 {
        font-size: 28px;
        position: relative;
        top: 40px;
    }

    #sec2 {
        text-align: justify;
        margin-top: -30%;
        margin-bottom: 27%;
    }

    #sec3 > table {
        margin-top: 10%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width:650px) {
    #sec1 {
        height: 180px;
    }

    #sec-text {
        width: 80%;
        margin-top: 40%;
        margin-bottom: -32%;
    }
    
    #sec1 > h1 {
        font-size: 28px;
        position: relative;
        top: 40px;
        margin-bottom: -10%;
    }
    
    #sec2 {
        width: 80%;
        text-align: justify;
        margin-top: -40%;
        margin-bottom: 15%
    }
    
    #sec3 {
        margin-top: 15%;
        width: 80%;
    }

    #sec4 {
        width: 80%;
    }
    
    #sec5 {
        width: 80%;
    }

    #maps {
        width: 80%;
    }

    iframe {
        margin-bottom: 100px;
    }
}

@media (max-width:400px) {
    #sec1 {
        height: 140px;
    }

    #sec-text {
        width: 80%;
        margin-top: 50%;
        margin-bottom: -28%;
    }
    
    #sec1 > h1 {
        font-size: 28px;
        position: relative;
        top: 40px;
        margin-bottom: -10%;
    }
    
    #sec2 {
        width: 80%;
        text-align: justify;
        margin-top: -50%;
        margin-bottom: 20%
    }
    
    #sec3 {
        margin-top: 15%;
        width: 80%;
    }

    #sec4 {
        width: 80%;
    }
    
    #sec5 {
        width: 80%;
    }

    #maps {
        width: 80%;
    }

    iframe {
        margin-bottom: 100px;
    }
}
